.canvas-div {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 10px
}

.clock-canvas {
    /* border: 1px solid red; */
    display: block
}